body {
  font-family: Arial, sans-serif;
}

#dropzone {
  background-color: #f9f9f9;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

#dropzone.dragover {
  background-color: #d1e7dd;
}
